<footer>
    <p>Made by <a href="https://twitter.com/analabud">Ana</a>, <a href="http://domarku.com/">Dominik</a>,
        <a href="https://hr.linkedin.com/in/denis-pavlovi%25C4%2587-7382b3ab">Denis</a> and <a href="https://twitter.com/isthismario">Mario</a> in 2016.
</footer>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>

<script src="static/js/main.js"></script>
<script src="static/js/app-min.js"></script>
<script src="static/js/print.js"></script>

</body>
</html>