<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>neverabot.org / About</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    
    <link rel="stylesheet" href="static/css/app.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56553739-9', 'auto');
      ga('send', 'pageview');

    </script>
</head>
  
<body>

  <div class="outer-container">

    <nav>
      <ul>
        <li><a href="/">Sign</a></li>
        <li><a href="/whosigned">Who signed</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    
    <div class="paper">

    	<div class="logo">
      </div>
      
      <div class="statement">
        
        <p class="subhead">Never a bot is a website that allows you to sign, download and share a document that says you don’t want to be turned into a <span class="tooltip">chatbot<span class="tooltiptext">Chatbot<br>— noun<br>a computer program which conducts a conversation via auditory or textual methods [...] often designed to convincingly simulate how a human would behave as a conversational partner, thereby passing the Turing test.<br>(From Wikipedia, 22 November 2017)</span></span> after death.</p>
        <p class="fine-print">This project was part of an art installation at the Science Fiction exhibition at the Technical Museum in Zagreb, Croatia in November 2016. Statements filled online were automatically printed to a transparent box in the museum, as a physical representation of interest in the subject.</p>
      </div>

      <div class="articles">
        <h2 class="subtitle">Related Articles</h2>
      
          <a href="https://www.wired.com/story/a-sons-race-to-give-his-dying-father-artificial-immortality/">
            <article>
              <img alt="From left to right: Roman Mazurenko, Eugenia Kuyda, Andronik Khachiyan" width="400" height="200" src="static/assets/img/dadbot-opener.jpg">
              <h3>Wired > A son's race to give his dying father artificial immortality</h3>
              <p>For weeks, amid my dad's barrage of doctor's appointments, medical tests, and treatments, I keep the notion to myself. I dream of creating a Dadbot—a chatbot that emulates not a children's toy but the very real man who is my father. And I have already begun gathering the raw material: those 91,970 words ...</p>
            </article>
          </a>  
          
          <a href="https://www.theverge.com/a/luka-artificial-intelligence-memorial-roman-mazurenko-bot">
            <article>
              <img alt="From left to right: Roman Mazurenko, Eugenia Kuyda, Andronik Khachiyan" width="400" height="200" src="static/assets/img/speak-memory.jpg">
              <h3>The Verge > Speak, memory</h3>
              <p>When her best friend died, Eugenia Kuyda rebuilt him using artificial intelligence</p>
            </article>
          </a>
  
          <a href="https://i.imgur.com/XY5KnXr.jpg">
            <article>
              <img width="400" height="200" src="static/assets/img/my-dead-girfriends-bot.jpg">
              <h3>My Dead Girlfriend’s Bot, a short story by Joshua Allen</h3>
              <p>It’s been seven months since Emma died and two weeks since I started building a bot from her texts</p>
            </article>
          </a>
      </div>

    </div>
  </div>    

  <%- include partials/footer.ejs </%>