<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>neverabot.org</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="http://neverabot.org/" />
    <meta property="og:title" content="Never a bot" />
    <meta property="og:description" content="Never a bot is a website that allows you to sign, download and share a document that says you don’t want to be turned into a memorial chatbot after death." />
    <meta property="og:image" content="http://neverabot.org/static/assets/img/neverabot-page.jpg" />


    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <link rel="stylesheet" href="static/css/app.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56553739-9', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body>

    <header>
        <div class="alert" style="display: none;">
            <p>Please fill out all of the fields. You left <span class="alert__fields"></span> blank.</p>
        </div>
        <p class="still-human alert" style="display: none;">Please confirm you’re still human.</p>
    </header>

    <div class="outer-container">

        <nav>
            <ul>
                <li><a href="/whosigned">Who signed</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/">Sign</a></li>
            </ul>
        </nav>

        <div class="paper">
            <div class="logo">
            </div>
            <h1>Never a bot</h1>

            <form class="statement" method="POST" id="statement-form" action="/sign">
                <div class="statement-body">
                    <p>I hereby declare that I, <input id="first-name" type="text" placeholder="First Name" name="name"><input id="last-name" type="text" name="surname" placeholder="Last Name">,
                        born on <%- include partials/days.ejs %><%- include partials/months.ejs %><%- include partials/years.ejs %> in <input name="city" id="city" type="text" placeholder="City">, <%- include partials/country.ejs </%>, don’t want to be turned into a <span class="tooltip">chatbot<span class="tooltiptext">Chatbot<br>— noun<br>a computer program which conducts a conversation via auditory or textual methods [...] often designed to convincingly simulate how a human would behave as a conversational partner, thereby passing the Turing test.<br>(From Wikipedia, 22 November 2017)</span></span> after I die because nobody asked for my permission, and
                        nobody will be able to because I won't be alive.
                    </p>
                    <p>I'd rather have nobody tamper with my private messages, emails, tweets, public or private posts of
                        any kind and/or use them as data for an intelligence that is not me.</p>
                    <p>Please respect my <span class="tooltip">privacy<span class="tooltiptext">privacy<br>— noun<br>a state in which one is not observed or disturbed by other people.</span></span>. I do not want to take on an eternal form I did not comply to.</p>
                </div>

                <div class="checkboxes">
                    

                    <div>
                        <input type="checkbox" id="is-persisted" name="isPersisted" value="Add" checked>
                        <label for="is-persisted">
                            <span></span>
                            <div class="label">Include me in Who signed list</div>
                        </label>
                    </div>
                    
                    <div id="is-public-checkbox">
                        <input type="checkbox" id="is-public" name="isPublic" value="Keep">
                        <label for="is-public">
                            <span></span>
                            <div class="label">Show me as Anonymous</div>
                        </label>
                        <br>
                    </div>

                    <div>
                        <input type="checkbox" id="not-bot" name="fake-captcha">
                        <label for="not-bot">
                            <span></span>
                            <div class="label fake-captcha__label">I'm (still) not a bot</div>
                        </label>
                        <br>
                    </div>

                </div>

                <div class="date">
                    <p>Date:</p>
                    <p id="date"></p>
                </div>

                <div class="location">
                    <p>
                        Location:<br>
                        <input name="signedInCity" class="location-input" id="location-input" type="text" placeholder="City">
                    </p>
                </div>

                <div class="submit">
                    <p>
                        <input type="submit" value="Preview and print"><span>Opens your pre-filled statement ready to print. Check your info one more time.</span>
                    </p>
                </div>

            </form>
        </div>
    </div>

    <%- include partials/footer.ejs </%>