<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>neverabot.org</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <link rel="stylesheet" href="../static/css/app.css">
    <style>
    html{
        background: #fff;
    }
    body {
        font-size: 12px;
    }
    .paper{
        margin: 0 auto;
        background: #fff;
        margin-top: 35vh;
        padding: 0 60px;
        box-shadow: none;
    }
    .checkboxes {
        display: none;
    }
    </style>
</head>

<body>
<div class="outer-container">
    <div class="paper">
        <img src="../static/assets/img/neverabot-logo.svg" class="logo">
        <h1>Never a bot</h1>

        <form class="statement" method="" id="statement-form">
            <div class="statement-body">
                <p>I hereby declare that I, <%= name %> <%= surname %>,
                    born on <%= birthDate.getMonth() + 1 %>.<%= birthDate.getDate() %>.<%= birthDate.getFullYear() %> in <%= city %>,
                    <%= country %>, don’t want to be turned into a chatbot after I die because nobody asked for my permission, and nobody will be able to because I’ll be dead.
                </p>
                <p>I'd rather have nobody tamper with my private messages, emails, tweets, public or private posts of
                    any kind and/or use them as data for an intelligence that is not me.</p>
                <p>Please respect my privacy, I do not want to take on an eternal form I did not comply to. For whichever reason.</p>
            </div>

            <div class="checkboxes">
                <input type="checkbox" name="isPersisted" value="Add" checked> Add me to neverabot.org database (?)<br>
                <input type="checkbox" name="isPublic" value="Keep"> Keep my info private (?)<br>
                <div class="disclaimer">
                    <p>By signing this statement, you agree that your information is being used as statistical data and
                        that it will not given to third parties.</p>
                </div>
            </div>

            <div class="foot" style="display: flex; align-items: center; justify-content: center;">
                <div class="date" style="flex-grow: 1; width: 31%; flex-basis: 31%;">
                    <p>
                        Date:<br>
                        <span id="date"></span>
                    </p>
                </div>

                <div class="location" style="flex-grow: 1; width: 31%; flex-basis: 31%;">
                    <p>
                        Location:<br>
                        <%= signedInCity %>
                    </p>
                </div>

                <div class="submit" style="flex-grow: 1; width: 31%; flex-basis: 31%;">
                    <p>
                        Signature:<br>
                        __________
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="../static/js/app-min.js"></script>
<script src="../static/js/print.js"></script>

</body>
</html>