<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>neverabot.org / Signed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="http://neverabot.org/" />
    <meta property="og:title" content="Never a bot" />
    <meta property="og:image" content="http://neverabot.org/static/assets/img/neverabot-page.jpg" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <link rel="stylesheet" href="../static/css/app.css">
    <style>
        .paper {
            padding: 96px 80px 96px;
            margin-bottom: 64px;
        }
        @media (max-width: 600px) {
            .paper {
                padding: 32px;
            }
        }
        .checkboxes {
                display: none;
            }
        @media print{
            nav {
                display: none;
            }
            .paper {
                padding: 40px;
            }
            .checkboxes {
                display: none;
            }
            .logo img {
                display: block;
            }
        }
    </style>
</head>

<body>

<div class="outer-container">

    <nav>
        <ul>
            <li><a href="/print/<%= _id %>">Print</a></li>
            <li><a href="/download/<%= _id %>">Download</a></li>
            <li>
                <a href="https://twitter.com/intent/tweet?text=Don&#39;t%20turn%20me%20into%20a%20chatbot%20after%20I%20die&button_hashtag=neverabot" data-show-count="false">Tweet #neverabot</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
        </ul>
    </nav>

    <div class="paper">
        <div class="logo" style="margin-bottom: 64px">
            <img src="../static/assets/img/neverabot-logo.png">
        </div>
        <h1 style="margin-bottom: 64px">Never a bot</h1>        

        <form class="statement" method="" id="statement-form">
            <div class="statement-body" style="margin-bottom: 164px">
                <p>I hereby declare that I, <%= name %> <%= surname %>,
                    born on <%= birthDate.getMonth() + 1 %>.<%= birthDate.getDate() %>.<%= birthDate.getFullYear() %> in <%= city %>,
                    <%= country %>, don’t want to be turned into a chatbot after I die because nobody asked for my permission, and nobody will be able to because I won't be alive.
                </p>
                <p>I'd rather have nobody tamper with my private messages, emails, tweets, public or private posts of any kind and/or use them as data for an intelligence that is not me.</p>
                <p>Please respect my privacy. I do not want to take on an eternal form I did not comply to.</p>
            </div>

            <div class="checkboxes">
                <input type="checkbox" name="isPersisted" value="Add" checked> Add me to neverabot.org database (?)<br>
                <input type="checkbox" name="isPublic" value="Keep"> Keep my info private (?)<br>
                <div class="disclaimer">
                    <p>By signing this statement, you agree that your information is being used as statistical data and
                        that it will not given to third parties.</p>
                </div>
            </div>

            <div class="date">
                <p>
                    Date:<br>
                    <span id="date"></span>
                </p>
            </div>

            <div class="location">
                <p>
                    Location:<br>
                    <%= signedInCity %>
                </p>
            </div>

            <div class="submit">
                <p>
                    Signature:<br>
                    __________
                </p>
            </div>

        </form>
    </div>
</div>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="../static/js/app-min.js"></script>
<script src="../static/js/print.js"></script>

</body>
</html>