<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>neverabot.org</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <link rel="stylesheet" href="../static/css/app.css" media="print,screen">
    <style>
        @media print{
            .paper {
                background-color: #ffffff;
                padding: 100px 60px;
                box-shadow: none;
            }
            .foot{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 100px;
            }
            .foot div{
                align-self: flex-start;
                flex-grow: 1;
                width: 33.33%;
                flex-basis: 33.33%;
            }
            .checkboxes {
                display: none;
            }
        }
    </style>
</head>

<body>
<div class="outer-container">
    <div class="paper">
        <img src="../static/assets/img/neverabot-logo.svg" class="logo">
        <h1>Never a bot</h1>

        <form class="statement" method="" id="statement-form">
            <div class="statement-body">
                <p>I hereby declare that I, <%= name %> <%= surname %>,
                    born on <%= birthDate.getMonth() + 1 %>.<%= birthDate.getDate() %>.<%= birthDate.getFullYear() %> in <%= city %>,
                    <%= country %>, don’t want to be turned into a chatbot after I die because nobody asked for my permission, and nobody will be able to because I won't be alive.
                </p>
                <p>I'd rather have nobody tamper with my private messages, emails, tweets, public or private posts of any kind and/or use them as data for an intelligence that is not me.</p>
                <p>Please respect my privacy. I do not want to take on an eternal form I did not comply to.</p>
            </div>

            <div class="foot">
                <div class="date">
                    <p>
                        Date:<br>
                        <span id="date"></span>
                    </p>
                </div>

                <div class="location">
                    <p>
                        Location:<br>
                        <%= signedInCity %>
                    </p>
                </div>

                <div class="submit">
                    <p>
                        Signature:<br>
                        _____________
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="../static/js/app-min.js"></script>
<script src="../static/js/print.js"></script>
<script>
    $(function(){
        window.print();
        window.callPhantom('takeShot');
    });
</script>

</body>
</html>