<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>neverabot.org / Who Signed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <link rel="stylesheet" href="static/css/app.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56553739-9', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body>

    <div class="outer-container">

        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/">Sign</a></li>
                <li><a href="/whosigned">Who signed</a></li>
            </ul>
        </nav>

        <div class="paper">

            <h1 id="signees-count"></h1>
            <p>Average age is
                <%= averageAge %>, top locations are
                    <% for(var i=0; i<locations.length; i++) {%>
                        <% if(i==locations.length-1){ %>
                            <%= locations[i] %>
                                <% } else{ %>
                                    <%= locations[i] %>,
                                        <% } %>
                                            <% } %>
            </p>

            <input type="text" id="search" placeholder="Search here...">

            <span class="subtitle">Sort list</span>

            <button id="show-alphabet">Alphabetically</button>
            <button id="show-chrono">Chronologically</button>
            <ul class="signees signees-alphabet active">
                <li>Loading, please wait...</li>
            </ul>
            <ul class="signees signees-chrono" style="display:none;">
                <li>Loading, please wait...</li>
            </ul>
        </div>
    </div>

    <footer>
        <p>Made by <a href="https://twitter.com/analabud">@analabud</a>, <a href="https://twitter.com/dmarku32">@dmarku32</a>,
            <a href="https://hr.linkedin.com/in/denis-pavlovi%25C4%2587-7382b3ab">@denispav</a>, <a href="https://twitter.com/isthismario">@isthismario</a>            in 2016.
    </footer>

    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>