// neverabot.org
// 2016
// @dmarku32

@import "neat/neat";

// utils ------------------------------------------------------------------

$base-unit: 32px;
$tablet: new-breakpoint(min-width 500px 12);
$desktop: new-breakpoint(min-width 1024px 12);

$desktop-paper-width: 768px;

// variables ------------------------------------------------------------------

$white: #FEFEFE;
$dark: #272D2F;
$light: #B3B3B3;
$blue: rgb(0, 132, 255);
$red: #ff0639;

$border-thickness: 1px;
$border-blue: $border-thickness solid $blue;
$border-regular: $border-thickness solid $light;
$border-white: $border-thickness solid $white;
$border-dotted-light: 1px dotted $light;

$shadow-blue: 0px 8px 24px rgba(0, 132, 255, 0.6);
$shadow-red: 0px $base-unit * 3 $base-unit * 4 $base-unit * -1 rgba(255, 6, 57, 0.5);

.hidden {
	display: none;
}

.shadow-red {
	box-shadow: $shadow-red !important;
}

// animation ------------------------------------------------------------------

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

// font ------------------------------------------------------------------

@font-face {
  font-family: 'Publico Text Mono Web Roman';
  src: url('../assets/font/PublicoTextMono-Roman-Web.eot');
  src: url('../assets/font/PublicoTextMono-Roman-Web.eot?#iefix') format('embedded-opentype'),
       url('../assets/font/PublicoTextMono-Roman-Web.woff2') format('woff2'),
       url('../assets/font/PublicoTextMono-Roman-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.PublicoTextMono-Roman-Web {
  font-family: 'Publico Text Mono Web Roman', monospace;
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.mono {
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 10px;
}

.System {
	font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
  font-weight: 600 !important;
}

$smaller-font-size: 0.8rem;
$tiny-font-size: 0.6rem;
$underline-line-height: 1.2;

// base ------------------------------------------------------------------

body {
	background: url("../assets/img/bg-pattern.png") left top repeat;
	background-size: 9px;
	background-attachment: fixed;
}

// typography ------------------------------------------------------------------

body {
	@extend .PublicoTextMono-Roman-Web;
	color: $dark;
	font-size: 15px;
	line-height: 1.5;
}

h1 {
	margin-bottom: $base-unit * 2;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400 !important;
}

.subhead {
	font-size: 1.25rem;
	position: relative
}

a {
	text-decoration: none;
	color: $blue;

	&:hover {
		border-bottom: $border-blue;
	}

	&:visited {
		color: $blue;
	}

}

// inputs ------------------------------------------------------------------

input[type=text], select {

	@include media($tablet) {
		margin-right: 5px;
	}
	padding: 0;

	border: 0;
	border-bottom: $border-regular;
	border-radius: 0;
	background: $white;

	line-height: $underline-line-height;

	&:focus {
		border-bottom: $border-blue !important;
		outline-width: 0
	}
}

input[type=text] {
	width: 180px;
}

select {
	width: 280px;
	border-radius: 0px;
	-webkit-appearance: none;
  -webkit-border-radius: 0px;
}

input[type=submit], button {
	margin-bottom: $base-unit / 3;
	padding: 14px $base-unit;
	
	border: 0;
	border-radius: 2px;
	background-color: $blue;
	cursor: pointer;

	color: $white;
	@extend .System;
	font-size: $smaller-font-size;

	&:hover {
		background-color: darken($blue, 6%);
	}

	&:focus {
		background-color: darken($blue, 20%);
		-webkit-appearance: none;
  	-webkit-border-radius: 2px;
  	outline-width: 0
	}
}

#show-alphabet {
	border-radius: 2px 0 0 2px;
}

#show-chrono {
	position: relative;
	left: -$base-unit / 4;
	
	border-left: 1px solid darken($blue, 6%);
	border-radius: 0 2px 2px 0;
}

// Custom checkboxes ------------------------------------------------------------------

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  
  width: 26px;
  height: 26px;
  
  background: url("../assets/img/check_radio_sheet.svg") left top no-repeat;
  background-size: cover;
  cursor: pointer;
}

input[type="checkbox"]:checked + label span {
  background: url("../assets/img/check_radio_sheet.svg") -26px top no-repeat;
  background-size: cover;
}

.label {
  display: inline-block;
  position: relative;
  top: -$base-unit / 4;
}

// Input errors

.error {
	border-bottom: 1px solid $red !important;
}
.error-text{
	color: $red;
}
.still-human {
	margin: 0;
	background: $red;
}

// menu ------------------------------------------------------------------

nav {
	@extend .System;
	@include outer-container(100%);
	
	@include media($tablet) {
	  @include outer-container(80%);
	}
	@include media($desktop) {
		max-width: $desktop-paper-width !important;
	  @include outer-container(60%);
	}
	margin: $base-unit * 2 0 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		.menu-item {
			@include outer-container(100%);
			
			padding: $base-unit / 3 $base-unit / 2;
			@include media($tablet) {
				padding: $base-unit / 8 $base-unit / 2;
			}
			background-color: $white;
		}

		li {
			a {
				color: $dark !important;
				font-size: 80%;

				cursor: pointer;
			}

			&:nth-child(1) {
				@extend .menu-item;
				max-width: $desktop-paper-width - ($base-unit * 2);
				opacity: 0.8;
			}

			&:nth-child(2) {
				@extend .menu-item;
				max-width: $desktop-paper-width - ($base-unit);
				opacity: 0.9;
			}

			&:nth-child(3) {
				@extend .menu-item;
				max-width: $desktop-paper-width;
			}
		}
	}
}

// layout ------------------------------------------------------------------

.paper {

	@include outer-container(100%);
	
	@include media($tablet) {
	  @include outer-container(80%);
	}
	@include media($desktop) {
		max-width: $desktop-paper-width !important;
	  @include outer-container(60%);
	}
	
	margin: 0 0 $base-unit / 2;
	padding: $base-unit;

	@include media($tablet) {
	  padding: $base-unit $base-unit * 2.5 $base-unit * 3;
	}

	background-color: $white;
	box-shadow: 0px $base-unit * 3 $base-unit * 4 $base-unit * -1 rgba(0, 132, 255, 0.9);

	.paper-header {
		text-align: center;
	}

	h1 {
		text-align: center;
	}

	.statement {
		@include span-columns(12);

		line-height: 1.7;

		#birthday{
			width: 28px;
		}
		#birthmonth{
			width: 80px;
		}
		#birthyear{
			width: 37px;
		}

		.statement-body {
			margin-bottom: $base-unit * 2;
		}

		.checkboxes {
			padding: 1em 0;
			margin-bottom: $base-unit;
		}

		.date {
			p {
				margin-bottom: 0;

				&:nth-child(2) {
					margin: 0;
				}
			}

			@include span-columns(10 of 12);
			@include media($tablet) {
				@include span-columns(2 of 12);
			}
		}

		.location {
			@include span-columns(6 of 12);
			@include media($tablet) {
				@include span-columns(4 of 12);
				@include shift(1);
			}

			.location-input {
				width: 100%;
			}
		}

		.fine-print {
			@include span-columns(10 of 10);

			margin-bottom: $base-unit;
			
			font-size: $smaller-font-size;
		}

		.submit {
			float: right;

			@include span-columns(10 of 12);
			@include media($tablet) {
				@include span-columns(3 of 12);
				@include shift(1);
			}

			span {
				display: inline-block;
				width: $base-unit * 6;
				font-size: $tiny-font-size;
			}
		}	
	}

	.about-body {
		@extend .statement;
		@include span-columns(12);
		@include media($tablet) {
			@include span-columns(8 of 12);
		}

		padding-right: $base-unit;
	}

	.logo {
		display: block;
		margin: 0 auto $base-unit * 2;

		height: $base-unit * 2;
		width: $base-unit * 2;

		background: url("../assets/img/neverabot-logo.svg");
		background-size: cover;

		&:hover {
			background: url("../assets/img/neverabot-logo-hover.svg");
			background-size: cover;
			
			animation: rotate 1.9s infinite linear;
			cursor: not-allowed;
		}

		img {
			display: none;
		}
	}

	.logo-hover {
		background: url("../assets/img/neverabot-logo-hover.svg");
		background-size: cover;
		
		animation: rotate 1.9s infinite linear;
		cursor: not-allowed;
	}

	.input-date {
		width: $base-unit * 3;
	}

	.subtitle {
		// margin-bottom: $base-unit;

		font-size: $smaller-font-size;
	}

	.articles {
		@include span-columns(12);

		article {
			width: 40%;
			float: left;
			margin-bottom: $base-unit;
			margin-right: $base-unit * 1.2;

			&:hover {
				opacity: 0.5;
			}

			h3, p {
				margin-top: 0;
			}

			h3 {
				font-size: 1rem;
			}

			p {
				font-size: $smaller-font-size;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

	}

	.signees {
		list-style: none;
		padding: 0;
	}

	#search {
		display: block;
		margin: $base-unit auto;
	}
}


// tooltips ------------------------------------------------------------------

.tooltip {
	position: relative;
	display: inline-block;

	border-bottom: $border-dotted-light;
	cursor: help;

	line-height: $underline-line-height;

	&:hover {
		border-bottom: $border-blue;

		.tooltiptext {
			font-size: $smaller-font-size;
			display: block;
		}
	}

	.tooltiptext {
		position: absolute;
		display: none;

		padding: $base-unit / 2;
		bottom: 125%;
		left: 0;
		
		width: $base-unit * 12;
		background-color: $white;
		color: $dark;
		line-height: 1.6;
		box-shadow: $shadow-blue;
	}
}

// header i footer ------------------------------------------------------------------

header, footer {
	@extend .System;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	color: $white;
	font-size: $smaller-font-size;

	a {
		color: $white !important;

		&:hover {
			color: $blue !important;
		}
	}
}

// alert header ------------------------------------------------------------------

header {
	position: fixed;
	top: 0;
	left: 50vw;
	transform: translateX(-50%);
	z-index: -99999;

	.alert {
		padding: 6px;

		width: 100vw;
		
		background-color: $red;
		color: $white;
		z-index: 99999;

		p{
			padding: 0;
			margin: 0;
		}
	}	
}


footer {
	margin-bottom: $base-unit * 4;
	padding: 0 $base-unit;
}